<template>
  <div>
    <h3>Moves</h3>
    
      <li v-for="(entry, move) in history" :key="move">
        <button @click="moveTo(move)" class="btn" :class="{highlight: isCurrentStep(move)}">
          {{buttonCaption(move, entry)}}
        </button>
      </li>
    
  </div>
</template>

<script>
export default {
name: "Moves",
  props: ["history", "currentStep"],
  methods: {
    moveTo(move) {
      this.$emit("move", move);
    },
    buttonCaption: function(move, entry) {
      if (move === 0) {
        return `Go to game start`;
      }
      if (move > 0 && entry.position !== null) {
        return `Go to move #${move} 
        (Row: ${entry.position.row} Column: ${entry.position.col})`;
      }
    },
    isCurrentStep(move) {
      return move === this.currentStep;
    }
  }
}
</script>

<style scoped>
li {
    list-style-type: none;
}
.btn{
 height:43px;
 width:170px;
 cursor: pointer;
 margin-bottom: 10px;
}
.highlight {
  font-weight: bold;
}
</style>