<template>
   <button 
   class="square" 
   @mouseover="hover = true"
   @mouseleave="hover = false"
   :class="{active:hover}"
   @click="clickHandler">{{value}}</button>
  
</template>

<script>
export default {
  name: "square",
  props: ["index", "value"],
  data() {
    return {
      hover: false,
    };
  },
  methods: {
    clickHandler() {
      this.$emit("selection", { index: this.index });
    }
  }
}
</script>

<style scoped>
.active{
   background-color:#C2CAD0; 
}

</style>